#plDetail {
    display: flex;
    flex: .9;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px #D1E3FF;
    max-height: 730px;
    border-radius: 15px;
}

#sticky-div1 {
    position: sticky;
    top: 0;
}
#sticky-div2 {
    position: sticky;
    top: 0;
}